[tool.poetry]
name = "diamond-miner"
version = "0.1.1"
description = ""
authors = [
    "Kevin Vermeulen <kevin.vermeulen@columbia.edu>",
    "Matthieu Gouel <matthieu.gouel@lip6.fr>",
    "Maxime Mouchet <maxime.mouchet@lip6.fr>"
]
build = "build.py"

[tool.poetry.dependencies]
python = "^3.8"
aioch = "^0.0.2"
clickhouse-driver = "^0.2.0"
pygfc = "^1.0"

[tool.poetry.dev-dependencies]
bumpversion = "^0.6.0"
black = { version = "^21.4b1", allow-prereleases = true }
Cython = "^0.29.22"
flake8 = "^3.8.4"
mypy = "^0.812"
pylint = "^2.8"
pytest = "^6.2"
pytest-asyncio = "^0.15.1"
pytest-cov = "^2.11.1"
Sphinx = "^3.5.4"
sphinx-rtd-theme = "^0.5.2"
sphinxcontrib-bibtex = "^2.2.1"

[tool.pytest.ini_options]
addopts = "--cov=diamond_miner --cov-report term --doctest-ignore-import-errors --doctest-modules -o log_cli=true --log-cli-level info"

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=40.6.0", "Cython>=0.29.0"]
build-backend = "poetry.core.masonry.api"

[project]
requires-python = ">=3.8"
