name: Documentation

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - uses: dioptra-io/setup-poetry-action@v1
      - name: Install package
        run: poetry install
      - name: Build documentation
        run: poetry run make -C docs/ html
      - name: Upload documentation
        uses: crazy-max/ghaction-github-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          target_branch: gh-pages
          build_dir:  docs/_build/html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
