name: PyPI

on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
    paths-ignore: ['**.md']
  pull_request:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.3.1
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

      - name: Publish to PyPI
        # Publish only when the current ref. is a tag.
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          python3 -m pip install --upgrade build twine
          python3 -m build --sdist
          python3 -m twine upload --skip-existing dist/*.tar.gz wheelhouse/*.whl
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
