name: PyPI

on:
  push:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Build wheels
        uses: joerick/cibuildwheel@v1.10.0
        env:
          # arm64 macos wheels are broken as of 10/05/2020
          CIBW_ARCHS_MACOS: x86_64
          CIBW_ARCHS_LINUX: x86_64 aarch64

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
          TWINE_REPOSITORY_URL: ${{ secrets.PYPI_REPOSITORY_URL }}
        run: |
          python3 -m pip install --upgrade poetry twine
          python3 -m poetry build --format sdist
          python3 -m twine upload --skip-existing dist/*.tar.gz wheelhouse/*.whl
