name: Tests

on:
  push:
    paths-ignore: ['**.md']
  pull_request:
    paths-ignore: ['**.md']

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      clickhouse:
        image: yandex/clickhouse-server
        ports: ['8123:8123']
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: dioptra-io/setup-poetry-action@v1
      - name: Install package
        run: poetry install
      - name: Insert test data
        run: poetry run tests/data/insert.py
      - name: Run tests
        run: poetry run pytest --cov=diamond_miner --cov-report=xml
      - uses: codecov/codecov-action@v3

  pypi:
    needs: [test]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all
      - name: Build wheels
        uses: pypa/cibuildwheel@2.5.0
        with:
          output-dir: dist
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          path: dist/*.whl
      - uses: dioptra-io/publish-python-action@v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          upload: ${{ startsWith(github.ref, 'refs/tags/v') }}
          wheel: false
