name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      clickhouse:
        image: clickhouse/clickhouse-server:25.7
        ports: ["8123:8123"]
        volumes:
          - ./.github/clickhouse/users.d:/etc/clickhouse-server/users.d
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: dioptra-io/setup-poetry-action@v1
      - name: Install package
        run: poetry install
      - name: Insert test data
        run: poetry run python tests/data/insert.py
      - name: Run tests
        run: poetry run pytest --cov=diamond_miner --cov-report=xml
      - uses: codecov/codecov-action@v3

  mkdocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: dioptra-io/setup-poetry-action@v1
      - name: Install package
        run: poetry install
      - name: Build documentation
        run: poetry run mkdocs build --strict
      - name: Publish documentation
        run: poetry run mkdocs gh-deploy --force --no-history --strict
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}

  pypi:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - uses: dioptra-io/publish-python-action@v1
        with:
          password: ${{ secrets.PYPI_TOKEN }}
          upload: ${{ startsWith(github.ref, 'refs/tags/v') }}
